/* GENERAL -----------------------------------------------------*/

body {
    margin: 0;
    color: #444;
}

.error {
    color: #333;
}

/* welcome ----------------------------------------------------- */
.welcome {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/media/sea2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* white-space: nowrap; */
    margin-bottom: 0px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(161, 205, 204, 0.2); */
    /* rgba(7, 57, 56, 0.7 */
    /* border-bottom: 2px solid  */
    /* rgba(7, 57, 56, 0.9); */
}
.logo img {
    width: 300px;
    border: none;
    display: block;
    margin: 0 auto;
}

/* form generals ----------------------------------------------------- */

form {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    /* rgba(154, 219, 215, 0.2) */
    width: 400px;
    margin: 10px;
    color: #7f8c8d;
    font-size: 120%;
    border-radius: 10px;
    background-color: rgba(232, 232, 231, 0.2);
}

input {
    display: flex;
    font-size: 18px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 1px;
    border: 2px solid #eeeeee;
    flex: 1;
    margin-left: 24%;
}

::placeholder {
    color: #999;
}

input:hover {
    border: 2px solid rgb(154, 219, 215);
}

button {
    border-radius: 1px;
    font-size: 22px;
    margin: 20px;
    background-color: transparent;
    color: #eeeeee;
    padding: 10px;
    border: 2px solid #eeeeee;
    cursor: pointer;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

button:hover {
    border: 3px solid rgb(154, 219, 215);
}

a {
    color: #eeeeee;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
}

#a {
    margin-bottom: 20px;
}
a:hover {
    font-size: 18px;
}

/* registration component ----------------------------------------------------- */

.containerRegister {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

#registerTitle {
    color: #eeeeee;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

#or {
    text-align: center;
    font-size: 19px;
    color: #eeeeee;
    font-family: "Open Sans", sans-serif;
}

.introPlattform {
    height: 50px;
    font-size: 26px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    text-align: center;
    border: 1px solid rgba(7, 57, 56, 0.5);
    box-shadow: 1px 3px 4px rgba(7, 57, 56, 0.2);
    margin-top: 0px;
    padding-top: 10px;
    padding-botton: 10px;
    background-color: rgba(161, 205, 204, 0.1);
    /* rgba(7, 57, 56, 0.9) */
    color: #eeeeee;
}

/* login ----------------------------------------------------- */

.loginContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

#loginTitle {
    color: #eeeeee;
    font-family: "Open Sans", sans-serif;
}

/* profilePicCorner ----------------------------------------------------- */

#profilePic img {
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 2px solid #9a9a9a;
}

#profilePic {
    display: block;
    text-align: right;
    border: 2px solid #9a9a9a;
}

.profilePicCorner {
    max-width: 260px;
    display: block;
    float: right;
    border: 2px solid black;
}

/* Profile ----------------------------------------------------- */

.profilePage {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid #9a9a9a;
}

#titleInProfilePage {
    font-size: 32px;
}

.imageInProfile img {
    border: 2px solid #9a9a9a;
    width: 350px;
    height: 350px;
}

#aboutMeClick {
    border: 2px solid #9a9a9a;
    color: #333;
}

#textareaArea {
    border: 2px solid #9a9a9a;
}

#bioInProfile {
    font-size: 14px;
    border: 2px solid #9a9a9a;
}

/* OtherProfile -----------------------------------------------------*/

.othersProfilePage {
    margin-left: 10px;
}
#imageInOtherProfile {
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 2px solid #9a9a9a;
}

.dynamicButton {
    color: #585858;
}
